---
title: Thoughts
---
{% layout 'base.liquid' %}

{% block main %}
<div class="heading">
  <h1>
    <a href="{{ page.url }}">{{ title }}</a>
  </h1>
</div>

{% for thought in thoughts %}
  {% assign id = thought.date | date: '%s' %}
  <a
    href="/thoughts/{{ id }}-{{ thought.post | markdownplain | truncatewords: 6, '' | slugify }}/"
    class="thoughts-link"
  >
    <time datetime="{{ thought.date | date: '%Y-%m-%dT%H:%M:%S%z' }}" id="{{ id }}">
      {{- thought.date | date: '%b %-d, %Y %-l:%M%P' -}}
    </time>
  </a>
  {{ thought.post | markdownblock }}
{% endfor %}
{% endblock %}
